
<h3>Hello{{name}}</h3>
    <div class="container-fluid">
        <div class="row">
            
            <div class="col col-12 col-sm-6 ">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ducimus dolore tempora, autem non culpa velit perspiciatis accusamus, et asperiores accusantium, quos quae sunt cupiditate? Aspernatur non ea enim omnis.</div>
            </div>
            <div class="col col-12 col-sm-6 ">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed iusto at esse. Ipsum fugit rem repellendus saepe tempora nisi dolorum aliquid. Nihil vel blanditiis, fugit magni commodi est voluptatum asperiores.

            </div>
                </div>
            

    

